* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("pedalcrusaders_background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

nav {
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: solid black 5px;
    height: 40px;
    align-items: center;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

nav > ul > li > a {
    text-decoration: none;
    color: black;
}

nav > ul > li > a:hover {
    font-size: larger;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding-top: 50px;
}

.logo > img {
    height: auto;
    width: 20%;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

main > div {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    text-align: justify;
}

.aboutUsgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.imgAmandaDave > img {
    height: auto;
    max-width: 80%;
    padding: 50px;
}

.aboutUstext {
    text-align: justify;
    font-weight: bold;
}

.latestAdventuresvid {
    display: flex;
    justify-content: center;
}

.contactForm {
    display: flex;
    justify-content: center;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 30px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.suscribe {
    margin-bottom: 100px;
}
.subscribeForm {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.subscribe-form {
    display: grid;
    grid-template-columns: 100px 450px 100px;
    grid-gap: 10px;
}

.subscribeSocialmedia > a {
    margin-left: 50px;
    margin-right: 50px;
}

.subscribeSocialmedia {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

footer {
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: 100px;
    margin-right: 100px;
    padding: 50px;
    text-align: justify;
}
footer.copyright {
    text-align: center;
}
